version: "3.3"
services:
  mongodb:
    container_name: mtg-mongodb
    image: mongo:5.0.5
    volumes:
      - ./assets/mongoData:/docker-entrypoint-initdb.d
      - ./assets/mongoData/data:/tmp/data
    ports:
      - "27018:27017"
  backend:
    container_name: mtg-backend
    build: ./backend
    depends_on:   
      - mongodb
    links:
      - mongodb
    ports:
      - 5000:80
